.create-post {
  background-color: #fff;
}

.hidden {
  display: none;
}

.image-wrapper {
  position: relative;
  border: 1px solid #dc6a6a;
}

.remove-btn {
  background: red;
  padding: 3px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -16px;
  right: 0;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

